@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .housepadi-heading {
    @apply text-3.8xl;
  }

  .housepadi-heading-alt {
    @apply text-2xl;
  }

  .housepadi-heading-alt-2 {
    @apply text-2.5xl;
  }

  .housepadi-title {
    @apply text-xl-alt;
  }

  .housepadi-title-2 {
    @apply text-base;
  }

  .housepadi-title-alt {
    @apply text-base;
  }

  .housepadi-lg {
    @apply text-base;
    @apply leading-relaxed;
  }

  .housepadi-base {
    @apply text-sm;
    @apply leading-normal;
  }

  .housepadi-base-alt {
    @apply text-sm;
  }

  .housepadi-sm-alt {
    @apply text-xs;
  }

  .housepadi-sm {
    @apply text-xxs;
  }

  @screen md {
    .housepadi-heading {
      @apply text-4xl;
    }

    .housepadi-heading-alt {
      @apply text-3xl;
    }

    .housepadi-heading-alt-2 {
      @apply text-3.2xl;
    }

    .housepadi-title {
      @apply text-2xl;
    }

    .housepadi-title-2 {
      @apply text-22px;
    }

    .housepadi-title-alt {
      @apply text-xl-alt;
    }

    .housepadi-lg {
      @apply text-xl;
    }

    .housepadi-base {
      @apply text-base;
    }

    .housepadi-base-alt {
      @apply text-lg;
    }

    .housepadi-sm {
      @apply text-base;
    }

    .housepadi-sm-alt {
      @apply text-xs;
    }
  }

  @screen lg {
    .housepadi-heading-alt {
      @apply text-3.5xl;
    }

    .housepadi-heading-alt-2 {
      @apply text-3.8xl;
    }
  }
}

@font-face {
  font-family: "NoirPro";
  src: url("../assets/fonts/NoirPro-Regular.woff2") format("woff2"),
    url("../assets/fonts/NoirPro-Regular.woff") format("woff"),
    url("../assets/fonts/NoirPro-Regular.ttf") format("truetype"),
    url("../assets/fonts/NoirPro-Regular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NoirProMedium";
  src: url("../assets/fonts/NoirPro-Medium.woff2") format("woff2"),
    url("../assets/fonts/NoirPro-Medium.woff") format("woff"),
    url("../assets/fonts/NoirPro-Medium.ttf") format("truetype"),
    url("../assets/fonts/NoirPro-Medium.eot") format("eot");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "NoirProHeavy";
  src: url("../assets/fonts/NoirPro-Heavy.woff2") format("woff2"),
    url("../assets/fonts/NoirPro-Heavy.woff") format("woff"),
    url("../assets/fonts/NoirPro-Heavy.ttf") format("truetype"),
    url("../assets/fonts/NoirPro-Heavy.eot") format("eot");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: "NoirProBold";
  src: url("../assets/fonts/NoirPro-Bold.woff2") format("woff2"),
    url("../assets/fonts/NoirPro-Bold.woff") format("woff"),
    url("../assets/fonts/NoirPro-Bold.ttf") format("truetype"),
    url("../assets/fonts/NoirPro-Bold.eot") format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-size: 100%;
  box-sizing: border-box;
}

/*  */
html {
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: NoirPro, Helvetica, sans-serif;
  box-sizing: border-box;
  /* width: 100%; */
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: NoirProBold, Helvetica, sans-serif;
}

h2,
h3,
h4,
h5 {
  font-family: NoirPro, Helvetica, sans-serif;
  font-weight: 100;
}

h6 {
  font-family: NoirPro, Helvetica, sans-serif !important;
  font-weight: 100;
}

p {
  margin: 0;
}

.medium-font {
  font-family: NoirProMedium, Helvetica, sans-serif;
}

.bold-font {
  font-family: NoirProBold, Helvetica, sans-serif;
}

#toolbar {
  display: none !important;
}

.backdrop {
  background: rgba(0, 0, 0, 0.4) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  backdrop-filter: blur(5px) !important;
}

/* Start of Custom Loader */
.loading {
  position: relative;
}

.loading:after {
  content: ".";
  position: absolute;
  right: "-5px";
  animation: dots 1.5s steps(5, end) infinite;
}

@keyframes dots {

  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

/* End of Custom Loader */

:root {
  --housepadi-white: #ffffff;
  --housepadi-green: #02ba81;
  --housepadi-grey2: #c1c1c1;
  --housepadi-grey: #65717c;
  --housepadi-grey3: #e1e1e1;
  --housepadi-yellow: #f2c94c;
  --housepadi-warning: #ffb413;
  --housepadi-red: #f3564d;
  --housepadi-blue: #5444f2;
  --housepadi-blue2: #2d9cdb;
}

/* custom styling */
.text-green {
  color: var(--housepadi-green);
}

input[type="date"].grey-placeholder,
input[type="text"].grey-placeholder ::placeholder,
select.grey-placeholder {
  color: var(--housepadi-grey2);
}

.h-44 {
  height: 44px;
}

.website-header,
.website-sidenav {
  position: fixed;
}

.website-banner,
.website-banner-alt,
.app-vh,
.usecase-banner {
  height: calc(100vh - 95px);
}


@media (max-width: 767px) {
  .website-banner {
    height: fit-content;
    margin-bottom: 75px !important;
    margin-top: 10px !important;
  }

  .website-banner-alt {
    height: fit-content;
    margin-bottom: 20px !important;

  }

  .usecase-banner {
    height: fit-content;
    margin-bottom: 0px !important;
    margin-top: 10px !important;
  }
}

.badge {
  height: 8px;
  width: 8px;
  border-radius: 4px;
}

.yellow {
  background-color: var(--housepadi-yellow);
}

.warning-text {
  color: var(--housepadi-warning);
}

.warning {
  background-color: var(--housepadi-warning);
}

.grey3 {
  background-color: var(--housepadi-grey3);
}

.green {
  background-color: var(--housepadi-green);
}

.red {
  background-color: var(--housepadi-red);
}

.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: none;
}

table.striped tbody tr:nth-of-type(even) {
  background: rgba(245, 246, 250, 0.7);
}

table th {
  font-family: NoirPro;
  font-weight: 300;
  color: var(--housepadi-grey);
}

table td {
  font-family: NoirPro;
  font-weight: 300;
}

.helv-regular {
  font-family: NoirPro;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.basier-medium {
  font-family: "BasierCircleMedium";
  font-weight: 500;
}

.basier-semibold {
  font-family: "BasierCircleSemiBold" !important;
  font-weight: 500;
}


.product-row .remove-icon {
  transition: 0.4s ease;
  opacity: 0;
}

.product-row:hover .remove-icon {
  opacity: 1;
}

.css-1s2u09g-control {
  height: 44px;
}

/* toast */
.housepadi-toast {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.input_error_msg {
  margin-top: 8px !important;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

main.website-content::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 10px;
}

main.website-content::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

/* Hamburger styles */
.hamburger_btn {
  color: #d0cfd128;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.ham_crossed>div:nth-child(1) {
  transform: rotate(45deg);
}

.ham_crossed>div:nth-child(2) {
  opacity: 0;
}

.ham_crossed>div:nth-child(3) {
  transform: rotate(-45deg);
}

.hamburger_btn:focus {
  outline: none;
}

.hamburger {
  width: 25px;
  height: 1px;
  transition: all 0.15s linear;
  transform-origin: 1px;
}



.animate-fadein {
  animation: fadein 0.5s linear forwards;
}

@keyframes fadein {
  from {
    opacity: 0.3;
    transform: scale(0.95);
  }

  to {
    transform: 1;
    transform: scale(1);
  }
}


.no-scrollbar::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}