@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .txt-heading {
    @apply text-3.2xl;
  }

  .txt-heading-alt {
    @apply text-xl;
  }

  .txt-heading-alt-2 {
    @apply text-2.5xl;
  }

  .txt-title {
    @apply text-15;
  }

  .txt-title-2 {
    @apply text-base;
  }

  .txt-title-alt {
    @apply text-base;
  }

  .txt-lg {
    @apply text-base;
    @apply leading-relaxed;
  }

  .txt-base {
    @apply text-sm;
    @apply leading-normal;
  }

  .txt-base-alt {
    @apply text-sm;
  }

  .txt-sm-alt {
    @apply text-xs;
  }

  .txt-sm {
    @apply text-xxs;
  }

  @screen md {
    .txt-heading {
      @apply text-4xl;
    }

    .txt-heading-alt {
      @apply text-2xl;
    }

    .txt-heading-alt-2 {
      @apply text-3.2xl;
    }

    .txt-title {
      @apply text-xl-alt;
    }

    .txt-title-2 {
      @apply text-22px;
    }

    .txt-title-alt {
      @apply text-xl-alt;
    }

    .txt-lg {
      @apply text-xl;
    }

    .txt-base {
      @apply text-base;
    }

    .txt-base-alt {
      @apply text-lg;
    }

    .txt-sm {
      @apply text-base;
    }

    .txt-sm-alt {
      @apply text-xs;
    }
  }

  @screen lg {


    .txt-heading-alt-2 {
      @apply text-3.8xl;
    }
  }
}




* {
  font-size: 100%;
  box-sizing: border-box;
}

/*  */
html {
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* width: 100%; */
}

main {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}


p {
  margin: 0;
}

#toolbar {
  display: none !important;
}

.backdrop {
  background: rgba(0, 0, 0, 0.4) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  backdrop-filter: blur(5px) !important;
}

/* Start of Custom Loader */
.loading {
  position: relative;
}

.loading:after {
  content: ".";
  position: absolute;
  right: "-5px";
  animation: dots 1.5s steps(5, end) infinite;
}

@keyframes dots {

  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

/* End of Custom Loader */

:root {
  --txt-white: #ffffff;
  --txt-green: #02ba81;
  --txt-grey2: #c1c1c1;
  --txt-grey: #65717c;
  --txt-grey3: #e1e1e1;
  --txt-yellow: #f2c94c;
  --txt-warning: #ffb413;
  --txt-red: #f3564d;
  --txt-blue: #5444f2;
  --txt-blue2: #2d9cdb;
}

.website-banner::before {
  content: "";
  background-image: url('/hero-image.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
}

/* custom styling */
.text-green {
  color: var(--txt-green);
}

input[type="date"].grey-placeholder,
input[type="text"].grey-placeholder ::placeholder,
select.grey-placeholder {
  color: var(--txt-grey2);
}

.h-44 {
  height: 44px;
}

.website-header,
.website-sidenav {
  position: fixed;
}

.website-banner,
.website-banner-alt,
.app-vh,
.usecase-banner {
  min-height: calc(75vh - 95px);
}


@media (max-width: 767px) {
  .website-banner {
    height: fit-content;
    margin-top: 10px !important;
  }

  .website-banner-alt {
    height: fit-content;


  }

  .usecase-banner {
    height: fit-content;
    margin-bottom: 0px !important;
    margin-top: 10px !important;
  }
}

.blue-blur-bg {
  background: linear-gradient(360deg, #B0D8F9 0%, rgba(176, 216, 249, 0) 100%);
  filter: blur(200px);
}

.badge {
  height: 8px;
  width: 8px;
  border-radius: 4px;
}

.yellow {
  background-color: var(--txt-yellow);
}

.warning-text {
  color: var(--txt-warning);
}

.warning {
  background-color: var(--txt-warning);
}

.grey3 {
  background-color: var(--txt-grey3);
}

.green {
  background-color: var(--txt-green);
}

.red {
  background-color: var(--txt-red);
}

.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: none;
}

table.striped tbody tr:nth-of-type(even) {
  background: rgba(245, 246, 250, 0.7);
}

table th {
  font-weight: 300;
  color: var(--txt-grey);
}

table td {
  font-weight: 300;
}

.helv-regular {
  font-weight: 400;
  letter-spacing: 0.2px;
}

.basier-medium {
  font-family: "BasierCircleMedium";
  font-weight: 500;
}

.basier-semibold {
  font-family: "BasierCircleSemiBold" !important;
  font-weight: 500;
}


.product-row .remove-icon {
  transition: 0.4s ease;
  opacity: 0;
}

.product-row:hover .remove-icon {
  opacity: 1;
}

.css-1s2u09g-control {
  height: 44px;
}

/* toast */
.txt-toast {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.input_error_msg {
  margin-top: 8px !important;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

main.website-content::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 10px;
}

main.website-content::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

/* Hamburger styles */
.hamburger_btn {
  color: #d0cfd128;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.ham_crossed>div:nth-child(1) {
  transform: rotate(45deg);
}

.ham_crossed>div:nth-child(2) {
  opacity: 0;
}

.ham_crossed>div:nth-child(3) {
  transform: rotate(-45deg);
}

.hamburger_btn:focus {
  outline: none;
}

.hamburger {
  width: 25px;
  height: 1px;
  border-radius: 20px;
  transition: all 0.15s linear;
  transform-origin: 1px;
}



.animate-fadein {
  animation: fadein 0.5s linear forwards;
}

@keyframes fadein {
  from {
    opacity: 0.3;
    transform: scale(0.95);
  }

  to {
    transform: 1;
    transform: scale(1);
  }
}


.no-scrollbar::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}